.categoriesCarousel {
    /* max-height: 80vh; */
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-around;
    font-size: calc(10px + 2vmin);
    color: black;
    padding: 10px;
    
  }

  .categoriesCarousel .button{
      background-color: transparent;
      border: 1px solid;
  }

  .categoriesCarousel .button:hover{
    background-color: #00004f;
    color:white;
  }

  .categoriesCarousel .category{
    min-width: 30%;
  }

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

  .grid-item{
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: medium;
    text-align: justify;
  }

  .grid-image{
  
  }

  .product-image{
      max-width: 100%;
  }